body {
  background-color: bisque;
  min-height: 100vh;

}

.navbar,
footer {
  background-color: burlywood;
}

header {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.item1 {
  grid-area: myArea;
}

.grid-container {
  display: grid;
  border-radius: 30px;
  grid-template-areas: 'myArea myArea myArea';
  grid-gap: 50px;
  background-color: burlywood;
  padding: 50px;
  margin: 50px;
  
}

.grid-container>div {
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 40px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 700px;
}

@media only screen and (max-width: 1600px) {
  img {
    width: 500px;
  }
}
@media only screen and (max-width: 1200px) {
  img {
    width: 300px;
  }
}
